<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Basic</string>
		<key>Description</key>
		<string>One lever right next to the door.</string>
		<key>Is DLC</key>
		<false/>
	</dict>
	<dict>
		<key>Title</key>
		<string>Multi Input Basic</string>
		<key>Description</key>
		<string>Two levers, one exit.</string>
		<key>Is DLC</key>
		<false/>
	</dict>
	<dict>
		<key>Title</key>
		<string>Entry</string>
		<key>Description</key>
		<string>Where it all begins.</string>
		<key>Is DLC</key>
		<false/>
	</dict>
</array>
</plist>
